@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

:root {
    --primary-color: #f8fcfd;
    --secundary-color: #08355a;
    --tertiary-color: #136591;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    width: 100%;
    height: 100dvh;
}

.flex-space{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column-1 {
    width: 100%;
    height: 100%;
}

.column-2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-3 {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box{
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.box:hover{
    animation: bg-box 0.1s forwards linear;
}

.box:hover .icon-project{
    animation: icon-project 0.1s forwards linear;
}

.icon-project{
    position: absolute;
    /* width: 5%; */
    max-width: 60px;
    min-width: 50px;
    transform: translateY(-80%);
}

.ilustrations{
    width: 100%;
    object-fit: contain;
    padding-top: 50px;
}

nav{
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: var(--secundary-color);
}

hr{
    width: 90%;
    background-color: var(--secundary-color);
}

.absolute{
    z-index: 1;
    position: absolute;
    margin-right: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#name-title{
    color: var(--secundary-color);
    font-size: 5em;
}

#stack-title{
    position: relative;
    padding: 0px 48px;
    transform: translateX(-48px);
    background: linear-gradient(to right, var(--tertiary-color) 0, white 10%, var(--tertiary-color) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 6s infinite linear;
    font-weight: 100;
    font-size: 2em;
}

#status-title{
    margin-top: 10px;
    color: var(--secundary-color);
    font-size: 1.5em;
    font-weight: 200;
}

#pc-sticker{
    margin-left: 12%;
    display: flex;
    transform: translateY(20px);
    justify-content: center;
    background-color: none;
    width: 70%;
}

#sout-code {
    position: absolute;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 4.5px;
    font-family: JetBrains Mono, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4bb68;
}
  
.string {
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: move 4s infinite;
}
  
.greeting {
    position: relative;
    top: 18px;
    animation: white-out 5s infinite;
}
  
.closure::after {
    content: '';
    position: absolute;
    height: 38px;
    width: 35%;
    background: linear-gradient( 
        #c6c6c6 15%,
        #eee 17% 63%,
        #c7c7c7 64% 65%,
        #0f0f0f 66% 100%
    );
    transform: translate(-82px, -36.5px) rotate(-0.001turn);
}
  
.closure::before {
    content: '';
    position: absolute;
    height: 105px;
    width: 40%;
    background: linear-gradient(
        #111111 0%,
        #161616 17%,
        #1a1a1a 35%
    );
    transform: translate(-73px, 12px);
    clip-path: polygon(0 0, 100% 0, 95% 35%, 5% 35%);
}


.en, .pt, .es, .de {
    color: #fa8231;
}

#ascii-java{
    font-size: 5px;
    color: #fa8231;
    position: absolute;
    margin-top: 55px;
    margin-right: 10px;
}

#java-sticker{
    max-height: 25vh;
    width: 100%;
    -webkit-user-drag: none;
}

#svg-asterisk{
    max-height: 25vh;
    width: 100%;
}

.box-profile{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-photo{
    max-width: 100%;
    max-height: 90%;
    -webkit-user-drag: none;
    border-radius: 10%;
}

.section-title{
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--secundary-color);
    font-size: 30px;
    font-weight: 500;
}



/*KEYFRAMES*/
@keyframes icon-project{
    100%{
        transform: translateY(-100%);
    }
}

@keyframes bg-box{
    100%{
        background-color: var(--tertiary-color);
    }
}

@keyframes shine{
    0%{
        background-position: -5vw
    }
    50%{
        background-position: 30vw
    }
    100%{
        background-position: 30vw
    }
}

@keyframes move {
    25% {
      transform: translatey(-12px);
      opacity: 1;
    }
    50% {
      transform: translatey(-24px);
    }
    75% {
      transform: translatey(-36px);
    }
}


/*MEDIA*/
@media (max-width: 1019px) {
    .box{
        margin-top: 60px;
    }
}

@media (max-width: 1000px) {
    #title-welcome{
        font-size: 50px;
    }
}

@media (max-width: 800px) {
    #sout-code{
        font-size: 0.6vw;
    }

    .closure::after {
        content: '';
        position: absolute;
        height: 38px;
        width: 90%;
        background: linear-gradient(
            #c6c6c6 15%,
            #eee 17% 63%,
            #1b1b1b 66% 100%
        );
        transform: translate(-191px, -36px) rotate(-0.001turn);
    }
      
    .closure::before {
        content: '';
        position: absolute;
        height: 105px;
        width: 40%;
        background: linear-gradient(
            #1c1c1c 0%,
            #1d1d1d 17%,
            #242424 35%
        );
        transform: translate(-80px, 12px);
        clip-path: polygon(0 0, 100% 0, 95% 35%, 5% 35%);
    }

    #ascii-java{
        font-size: 0.5vw;
    }
}

@media (max-width: 740px) {
    #java-sticker{
        max-width: 20vw;
    }

    #svg-asterisk{
        max-width: 20vw;
    }
}

@media (max-width: 650px) {
    #title-welcome{
        font-size: 30px;
    }
}

/*#title-welcome{
    position: absolute;
    text-align: center;
    font-size: 75px;
    color: white;
    text-shadow: 5px 5px 5px #011e11;
}
