@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

:root {
    --primary-color: #f8fcfd;
    --secondary-color: #08355a;
    --tertiary-color: #136591;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100dvh;
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
}

.flex-around {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.items-center {
    align-items: center;
}

.center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cont-100 {
    width: 100%;
    height: 100%;
}

.column-1 {
    width: 100%;
}

.column-2 {
    width: 50%;
}

.column-3 {
    width: calc(100% / 3);
}

.column-3-4 {
    width: calc(100% / 4 * 3);
}

.column-4 {
    width: 25%;
}

.header {
    position: absolute;
    z-index: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.header img {
    height: 30px;
}

.header-scrolled {
    position: fixed;
    background-color: #08355acc;
    backdrop-filter: blur(10px);
    transition: backdrop-filter 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.header-scrolled #social-medias svg{
    fill: var(--primary-color);
}

.header-scrolled .nav-container .hamburger-lines .line {
    background: var(--primary-color);
}

.header-scrolled .navbar .menu-items{
    background-color: #08355acc;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.navbar{
    display: none;
    z-index: 2;
}

.navbar .nav-container li {
    list-style: none;
}
  
.navbar .nav-container a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}
  
.navbar .nav-container a:hover{
    font-weight: bolder;
}
  
.nav-container {
    display: block;
    height: 60px;
}
  
.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 15px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
  
.nav-container .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 12px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--secondary-color);
}
  
.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
  
.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}
  
.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
  
.navbar .menu-items {
    padding-top: 120px;
    position: fixed;
    background-color: #08355acc;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100vw;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}
  
.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}
  
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}
  
.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}
  
.nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
}

.header-scrolled:has(.nav-container input[type="checkbox"]:checked) {
    backdrop-filter: none;
}

.header-scrolled:has(.nav-container input[type="checkbox"]:not(:checked)) {
    transition-delay: 0.15s;
}

#sections-nav a {
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    color: var(--secondary-color);
    /*Display none temporário*/
    display: none;
}

#social-medias div {
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}

#social-medias svg {
    fill: var(--secondary-color);
}

hr {
    width: 90%;
    background-color: var(--secondary-color);
}

#avatar-nav {
    user-select: none;
    transform: scaleX(-1);
}

#name-title {
    color: var(--secondary-color);
    font-size: 5em;
}

#stack-title {
    position: relative;
    text-wrap: nowrap;
    padding: 0px 48px;
    transform: translateX(-48px);
    background: linear-gradient(to right, var(--tertiary-color) 0, white 10%, var(--tertiary-color) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 6s infinite linear;
    font-weight: 100;
    font-size: 2em;
}

#status-title {
    margin-top: 10px;
    color: var(--secondary-color);
    font-size: 1.5em;
    font-weight: 200;
}

#pc-sticker {
    transform: translateY(20px);
    background-color: none;
    width: 318px;
}

#sout-code {
    position: absolute;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 4.5px;
    font-family: JetBrains Mono, monospace;
    color: #e4bb68;
}
  
.string {
    text-align: center;
    animation: move 4s infinite;
}
  
.greeting {
    position: relative;
    color: #fa8231;
    top: 18px;
    animation: white-out 5s infinite;
}
  
.closure::after {
    content: '';
    position: absolute;
    height: 38px;
    width: 35%;
    background: linear-gradient( 
        #c6c6c6 15%,
        #eee 17% 63%,
        #c7c7c7 64% 65%,
        #0f0f0f 66% 100%
    );
    transform: translate(-82px, -36.5px) rotate(-0.001turn);
}
  
.closure::before {
    content: '';
    position: absolute;
    height: 105px;
    width: 40%;
    background: linear-gradient(
        #111111 0%,
        #161616 17%,
        #1a1a1a 35%
    );
    transform: translate(-73px, 12px);
    clip-path: polygon(0 0, 100% 0, 95% 35%, 5% 35%);
}

#ascii-java {
    font-size: 5px;
    color: #fa8231;
    position: absolute;
    margin-top: 55px;
    margin-right: 10px;
}

.stickers {
    position: absolute;
    margin-right: 335px;
}

.sticker {
    height: 135px;
    user-select: none;
}

.box-profile {
    max-width: 350px;
    height: 80%;
}

#profile-photo {
    width: 100%;
    user-select: none;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.section-title {
    color: var(--secondary-color);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 50px;
}

.card {
    margin-bottom: 30px;
    margin-top: 30px;
}

.box {
    width: 300px;
    padding: 20px;
    height: 400px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    transition: background-color 0.1s linear;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.box:hover {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

.box:hover .icon-project {
    transform: translateY(-100%);
}

.icon-project {
    max-width: 60px;
    min-width: 50px;
    position: absolute;
    transition: transform 0.1s linear;
    transform: translateY(-80%);
}

.video-proj {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.title-info {
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

a:has(.title-card) {
    text-decoration: none;
}

.title-card {
    font-weight: 200;
    flex-wrap: nowrap;
}

.box .description {
    font-size: 14px;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  
    max-height: 40px; /* altura aproximada para 2 linhas */
    opacity: 0.6;
    transition: max-height 0.1s ease, opacity 0.1s ease;
}
  
.box:hover .description {
    -webkit-line-clamp: unset; /* mostra todo o texto */
    max-height: 50px; /* valor grande o suficiente */
    opacity: 0.8;
    color: white;
}

.box:hover #svg-details {
    fill: var(--primary-color);
}

#svg-details {
    filter: drop-shadow(0px 3px 2px rgb(0 0 0 / 0.4));
    fill: var(--secondary-color);
    animation: svg-details 3s infinite linear;
}

/*KEYFRAMES*/
@keyframes icon-project {
    100% {
        transform: translateY(-100%);
    }
}

@keyframes bg-box {
    100% {
        background-color: var(--tertiary-color);
    }
}

@keyframes shine {
    0% {
        background-position: -50px;
    }
    50% {
        background-position: 400px;
    }
    100% {
        background-position: 400px;
    }
}

@keyframes move {
    25% {
      transform: translatey(-12px);
    }
    50% {
      transform: translatey(-24px);
    }
    75% {
      transform: translatey(-36px);
    }
}

@keyframes svg-details {
    7% {
        transform: scale(1.2);
    }
    14% {
        transform: scale(1);
    }
}


/*MEDIA*/
@media (max-width: 1050px) {
    .stickers {
        margin-right: 33vw;
    }
}

@media (max-width: 965px) {
    #name-title {
        font-size: 8.2vw;
    }
    
    #stack-title {
        font-size: 3.28vw;
    }
    
    #status-title {
        font-size: 2.46vw;
    }

    @keyframes shine {
        0% {
            background-position: -5vw;
        }
        50% {
            background-position: 42vw;
        }
        100% {
            background-position: 42vw;
        }
    }
}

@media (max-width: 700px) {
    .stickers {
        z-index: 1;
        position: absolute;
        margin-right: 0;
        margin-left: 20%;
    }

    .column-2 {
        width: 50%;
    }

    .sticker {
        height: 40px;
    }

    #cont-titles-pc {
        flex-direction: row;
    }

    #col-titles-pc {
        width: 100%;
    }

    .box-profile {
        margin-left: 25px;
        margin-right: 10px;
        height: auto;
    }
    
    #profile-photo {
        max-width: 120px;
        transform: scaleX(-1);
    }

    #mobile-home {
        height: 300px;
        flex-direction: row-reverse;
    }

    #name-title {
        font-size: 7vw;
    }
    
    #status-title {
        margin-top: 12%;
        font-size: 2.1vw;
    }

    #stack-title {
        position: absolute;
        text-wrap: wrap;
        font-size: 2.8vw;
    }
    
    #pc-sticker {
        transform: translateY(10px);
        width: 180px;
    }

    #sout-code {
        padding-right: 15px;
        padding-top: 100px;
        font-size: 2.5px;
    }

    .greeting {
        top: 11px;
    }
      
    .closure::after {
        height: 21px;
        width: 34%;
        transform: translate(-46px, -20.7px);
    }

      
    .closure::before {
        height: 62px;
        width: 36%;
        transform: translate(-38px, 7px);
    }

    #ascii-java {
        margin-top: 125px;
        font-size: 2px;
    }

    @keyframes move {
        25% {
          transform: translatey(-7px);
        }
        50% {
          transform: translatey(-14px);
        }
        75% {
          transform: translatey(-21px);
        }
    }
}

@media (max-width: 550px) {
    .navbar {
        display: block;
    }

    #avatar-nav {
        display: none;
    }

    #sections-nav {
        display: none;
    }

    #social-medias div{
        padding: 0 10px 0 10px;
    }

    .section-title{
        scroll-margin-top: 60px;
    }
}
